.navBar {
    background-color: #ffffffa5;
}

.navBrand {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
}

.navCall {
    margin-left: 25px;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #fc3e00;
    border-radius: 8px;
    font-weight: 900;
}

.navImg {
    width: 300px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.call {
    margin-right: 10px;
}

@media screen and (min-width: 360px) {
    .callContent {
        display: flex;
        justify-content: center;
    }

    .navImg {
        width: 250px;
    }

    .navCall {
        display: none;
    }

}