.navBar {
    background-color: #ffffffa5;
}

.navBarScroll {
    background-color: var(--primary-color);
    height: 137.98px;
}

.bgButtonHover {
    background-color: var(--apoioColor);
    color: var(--primary-color);
    margin-left: 25px;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 900;
}

.bgButtonHover:hover {
    background-color: var(--primary-color-hover);
    color: var(--primary-color);
    margin-left: 25px;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 900;
}

.collapsed {
    background-color: var(--primary-color);
}

.navBrand {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
}

.navCall {
    background-color: var(--primary-color);
    color: var(--apoioColor);
    margin-left: 25px;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 900;
}

.navCall:hover {
    background-color: var(--primary-color-hover);
    color: var(--primary-color);
    margin-left: 25px;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 900;
}

.navImg {
    width: 300px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.imgLogo {
    width: 300px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.call {
    margin-right: 10px;
}

@media screen and (max-width: 576px) {
    .callContent {
        display: flex;
        justify-content: center;
    }

    .navImg {
        width: 250px;
    }

    .imgLogo {
        width: 250px;
        padding: 0;
        margin: 0;
    }

    .navCall {
        display: none;
    }

    .bgButtonHover {
        display: none;
    }

    .btnToggleHover {
        background-color: var(--apoioColor);
    }
}