.carouselCaption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxCarousel {
    background-color: var(--carouselBgTitle);
    border: 3px solid white;
    padding: 16px;
    margin-bottom: 20px;
    width: 500px;
    border-radius: 16px;
}

.titleCarousel {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-bottom: 10px;
}

.paragraphCarousel {
    padding-bottom: 20px;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navSpan {
    font-weight: 900;
    margin-left: 10px;
}

.buttonCarousel {
    border: none !important;
    padding-bottom: 40px;
    background-color: var(--primary-color) !important;
}

.slides {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselImg {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 576px) {
    .carouselImg {
        width: 100vh;
        height: auto;
    }
}