.footerBg {
    background-color: var(--primary-color);
    padding: 20px 0 40px 0;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerEmail {
    color: var(--apoioColor);
    font-weight: 600;
}

.footerCall {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background-color: var(--apoioColor);
    height: 30px;
    border-radius: 8px;
    font-weight: 900;
}

.footerCall:hover {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background-color: var(--primary-color-hover);
    height: 30px;
    border-radius: 8px;
    font-weight: 900;
}

.footerP {
    font-weight: 400;
    color: var(--apoioColor);
    text-align: center;
    margin-top: 30px;
}

.footerImg {
    width: 350px;
    margin-top: 10px;
}

@media screen and (max-width: 576px) {
    .footerContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerEmail {
        margin: 40px 0;
    }

    .footerP {
        padding: 40px;
    }
}
