* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #fc3e00;
  --secondary-color: rgb(227, 227, 227);
  --secaoBgTitle-color: #fc3f007e;
  --apoioColor: #ffffff;
  --paragraphColor: rgb(44, 44, 44);
  --carouselBgTitle: rgba(146, 146, 146, 0.729)
}

.title {
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: end;
  line-height: 40px;
}

.paragraph {
  margin-top: 50px;
  margin-left: 20px;
  color: var(--paragraphColor);
}

.paragraph::first-letter {
  font-size: 4rem;
  line-height: 1;
  initial-letter: 3;
  margin-right: 12px;
}

.safeHaz {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: var(--primary-color);
}

.cardBold {
  font-weight: 900 !important;
}

.bold {
  font-weight: 900 !important;
}

.cardBg {
  background-color: var(--secondary-color);
  padding-bottom: 25px;
  border-radius: 32px;
}

.secaoAbre {
  position: relative;
}

.secaoTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--secaoBgTitle-color);
  color: var(--apoioColor);
  border: 4px solid var(--apoioColor);
  border-radius: 16px;
  padding: 60px 60px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 40pt;
  text-align: center;
}

.secaoImg {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 576px) {
  .title {
    text-align: center;
    margin-bottom: 0;
    font-size: 25;
    line-height: 32px;
  }

  .paragraph {
    margin-top: 20px;
  }

  .paragraph::first-letter {
    font-size: 3rem;
    line-height: 1;
    initial-letter: 2;
    margin-right: 8px;
    font-weight: 900;
  }

  .secaoTitle {
    padding: 20px 20px;
    font-size: 23pt;
  }

  .bold {
    font-weight: 900 !important;
    color: var(--apoioColor) !important;
  }
}